<div class="row">
	<div class="col-6">
		<div class="card">
			<app-grafico-dona [ChartLabels]="graficos.grafico1.labels" [ChartData]="graficos.grafico1.data"
			ChartType="doughnut" [leyenda]="graficos.grafico1.leyenda"></app-grafico-dona>
		</div>
	</div>

	<div class="col-6">
		<div class="card">
			<app-grafico-dona [ChartLabels]="graficos.grafico2.labels" [ChartData]="graficos.grafico2.data"
			ChartType="doughnut" [leyenda]="graficos.grafico2.leyenda"></app-grafico-dona>
		</div>
	</div>

	<div class="col-6">
		<div class="card">
			<app-grafico-dona [ChartLabels]="graficos.grafico3.labels" [ChartData]="graficos.grafico3.data"
			ChartType="doughnut" [leyenda]="graficos.grafico3.leyenda"></app-grafico-dona>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			<app-grafico-dona [ChartLabels]="graficos.grafico4.labels" [ChartData]="graficos.grafico4.data"
			ChartType="doughnut" [leyenda]="graficos.grafico4.leyenda"></app-grafico-dona>
		</div>
	</div>
</div>