<div class="fondo-negro animated fadeIn" id="modalImage" [ngClass]="_modal.oculto">
  <div class="modal" style="display: block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" (click)="cerrarModal()" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          
            <img [src]="xxx | image" alt="user" class="w150" /><br>
            <input (change)="seleccionImg( $event.target.files[0] )" type="file" name="" id=""><br><br>

            <button (click)="subirImg()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-primary waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Subir Imagen</button>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()" >Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>